
@font-face {
    font-family: 'Cascadia Code';
    src: url('https://fonts.cdnfonts.com/css/cascadia-code') format('truetype');
}
:root {
    --main-background: url('resources/files/project_photo.png')
}
* {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    background-image;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%; 
    background: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(255, 255, 255, 0)); /* Gradient for the bottom 50% */
    background-repeat: no-repeat;
}

.sticky + * {
    padding-top: 100px;
}


#ab1 {
    padding: 100px;
}


#scrollheader {
    background-color: white;
}


body > header > div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-weight: bold;
    justify-content: space-between;
    width: 66%;
}


header > div > nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

#pnav > li > a {
    width: 75px;
    padding: 10px;
}


main {
    padding: 130px 30px 30px;
}


#lang > li,
#concepts > li,
#add > li {
    letter-spacing: 1px;
    font-family: 'Cascadia Code' !important;
}

#lang > li {
    list-style-type: "\1F3AF";
}

#concepts > li {
    margin-left: 45px;
    list-style-type: "\1F4A1";
}

#add > li {
    list-style-type: "\1F4BB";
}


#projects_span > span {
    padding: 30px;
    margin-left: 45px;
}

#tech {
    font-style: italic !important;
    font-size: 12px !important;
    color: lightgray !important;
}

#desc {
    margin-left: 30px;
    width: 600px;
}
#section_desc{
    width: 700px;
}
#proj_scen:hover{
    background-image: red;

}

.sidenav {
    
    width: 100px;
    position: fixed; 
    z-index: 1; 
    top: 50%; 
    right: 0;
    background-color: rgba(200, 200, 200, 1);
    overflow-x: hidden;
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(0, -50%);
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(200, 200, 200, 1);
    text-align: center;
    padding: 20px;
  }