
@font-face {
    font-family: 'Cascadia Code';
    src: url('https://fonts.cdnfonts.com/css/cascadia-code') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Gradient for the bottom 50% */
    background-repeat: no-repeat;
}

.sticky + * {
    padding-top: 100px;
}

a[href^="#"]{
    onclick:"scrollToAnchor(event)";
}

#ab1 {
    padding: 100px;
}


#scrollheader {
    background-color: red;
}


body > header > div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-weight: bold;
    justify-content: space-between;
    width: 66%;
}


header > div > nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

#pnav > li > a {
    width: 75px;
    padding: 10px;
}


main {
    padding: 130px 30px 30px;
}


#lang > li,
#concepts > li,
#add > li {
    letter-spacing: 1px;
    font-family: 'Cascadia Code' !important;
}

#lang > li {
    list-style-type: "\1F3AF";
}

#concepts > li {
    margin-left: 45px;
    list-style-type: "\1F4A1";
}

#add > li {
    list-style-type: "\1F4BB";
}


#projects_span > span {
    padding: 30px;
    margin-left: 45px;
}

#tech {
    font-style: italic !important;
    font-size: 12px !important;
    color: lightgray !important;
}

#desc {
    margin-left: 30px;
    width: 600px;
}
#section_desc{
    width: 700px;
}
